* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Montserrat";
	color: #000000;
}


@font-face {
  font-family: "Erotique Alternate Trial";
  src: url("Erotique_Font_Family_(Fontmirror)/Erotique Alternate Trial.ttf") format("ttf"),
  
  }

html,
body {
	overflow-x: hidden;
	background: #a3a3a3;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .container {
	width: 96%;
	margin: 0px auto;
}


.whitespace {
	width: 25%;
	height: 20px;
}

.nav{
	position:fixed;
	width:100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: o 4em;
    background-color:  #a3a3a3;
    z-index: 999;
}


a {
text-decoration: none;
text-transform: uppercase;
color: black;
padding: 0 1em;
font-family: "Montserrat";
font-weight: 500;
font-size: 10px;
}


h6{
	text-decoration: none;
	text-transform: none;
	color: #000; 
	padding: 0 1em;
	font-family: "Erotique Alternate Trial";
	font-weight: 500;
	font-size: 40px;
	}




.about {
	width: 100%;
	
}

.about::after {
	content: "";
	display: table;
	clear: both;
}

.about .about-container {
	width: 70%;
	float: right;
}

.about .about-container p {
	margin: 40px 0;
	font-size: 23px;
}

.about .about-container h3 {
	margin: 40px 0;
	font-weight: 100;
	font-size:  20px;
	
}

@media (max-width: 900px) {
	.about .about-container {
		width: 100%;
	}
	.about .about-container p {
		font-size: 23px;
	}
	.about .about-container h3 {
		margin: 40px 0;
		font-weight: 100;
		font-size:  18px;
	}
	
}

div.image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}


.video {  
	width: auto; 
	padding-left: 35vh;
	padding-right: 35vh;

}  


.menu__item {
	position: relative;
	padding: 1.6vw 0 0 0;
	margin: 4px;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #000000;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
	font-family: "Montserrat";
	text-transform: uppercase;
}

.menu__item-link::before {
	all: initial;
	text-transform: uppercase;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.menu__item-img {
	pointer-events: none;
	position: absolute;
	height: 50vh;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		translate3d(0, 20px, 0);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		rotate3d(0, 0, 1, 4deg);
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.menu {
	padding: 0vh 0 0 0vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 8vw;
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #fff;
	pointer-events: none;
	mix-blend-mode: difference;
}

.marquee__inner {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-animation: marquee 5s linear infinite;
	animation: marquee 5s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
	padding: 2vw 0;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 8vw;
	padding: 1.6vw 1vw;
	font-weight: 900;
}

.marquee span {
	font-family: "Bigilla" !important;
	text-transform: uppercase;
}

@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}



.final {
    padding: 20px 0;
}

.final .final-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.final .final-container a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat" !important;
  font-weight: Light;
    font-size: 26px;
}

@media (max-width: 900px) {
    .final .final-container a {
        font-size: 20px;
    }
}